doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='compliance, compliance penal, compliance empresas, compliance pymes, cumplimiento normativo, modelo de compliance penal, modelo de prevención de delitos, responsabilidad penal de las empresas, responsabilidad penal de las personas jurídicas, abogados penalistas, derecho penal económico, derecho penal empresa, delitos económicos, defensa, abogados penalistas en madrid, abogados derecho civil, especialistas en derecho penal, penal internacional, penal económico')
    meta(name='description', content='LFC Abogados y Economistas expertos en Compliance penal. Asesoramos en materia jurídico penal preventiva en el ámbito del derecho penal económico y de empresa además de implantar, gestionar y mantener el cumplimiento de los sistemas de gestión de de responsabilidad penal en las empresas, formación, auditoría y consultoría compliance.')
    meta(name='author', content='LFC Abogados y Economistas')
    title LFC Abogados y Economistas: Page not found
    link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-touch-icon-76x76.png')
    link(rel='icon', type='image/png', href='img/favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='img/favicon/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='img/favicon/manifest.json')
    link(rel='mask-icon', href='img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='img/favicon/favicon.ico')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-config', content='img/favicon/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
    //- Custom CSS with Bootstrap, Animate and Google Fonts
    link(href='css/dist/main.css', rel='stylesheet')
    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top.index
    //- Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        //- Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='index.html')
            img(src='img/dist/common/lfc_logo.svg', alt='LFC, abogados especilaistas en compliance', title='LFC, abogados especilaistas en compliance')
        //- Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.animated.fadeIn
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li
              a(href='index.html')
                i.fa.fa-home
                |  LFC 
                span Abogados y Economistas
        //- /.navbar-collapse
      //- /.container-fluid
    //- Header
    header.terms-header
      .container
    //- TERMS 01 :: "Términos legales"
    section#terms-intro.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading
              | Error 
              span 404
            h3.section-subheading.text-muted
              i.fa.fa-warning(aria-hidden='true')
              |   Página no encontrada.
        .row.more-margin-bottom
          .col-sm-12
            p.text-muted.effects.text-center
              | Parece que la 
              span página que buscas no existe
              | . Lo sentimos. Podría ser por alguna de estas causas:
        .row.more-margin-bottom.error-tips
          .col-sm-6.col-md-3
            p.text-muted.effects
              b a)
              |  Que haya tecleado incorrectamente la dirección URL.
          .col-sm-6.col-md-3
            p.text-muted.effects
              b b)
              |  Que haya perdido su conexión a internet.
          .col-sm-6.col-md-3
            p.text-muted.effects
              b c)
              |  Que la página esté obsoleta y haya sido eliminada.
          .col-sm-6.col-md-3
            p.text-muted.effects
              b d)
              |  Que la página no exista en el idioma que solicita.
        .row
          .col-sm-12
            p.text-muted.effects.text-center
              a(href='index.html', title='Volver a la página de inicio de LFC Abogados y Economistas')
                | Pinche aquí para volver al Inicio 
                i.fa.fa-home
              | .
    section#contact
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading
              span Contacta
              |  con nosotros
            h3.col-sm-6.col-sm-offset-4.section-subheading.text-muted
              a(href='https://goo.gl/maps/wDsUg2E5aV12', target='_blank', title='Ver dirección en Google maps')
                i.fa.fa-map-marker
                |  Calle O´Donnell nº16, 28009, Madrid.
              a(href='tel:915571230', title='Llamar a LFC Abogados y Economistas')
                i.fa.fa-phone
                |  915 571 230
              a(href='mailto:info@lfcabogados.com', title='Escribir email a LFC Abogados y Economistas')
                i.fa.fa-envelope
                |  info@lfcabogados.com
    footer
      .main-footer
        .container
          .row
            .col-md-4.text-left
              span.copyright © LFC Abogados y Economistas, S.L. 2016
            .col-md-4
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
            .col-md-4.text-right
              ul.list-inline.quicklinks
                li
                  a.anim-hover(href='index.html') Sobre LFC Abogados y Economistas.
            .clearfix
      .sub-footer
        .container
          .row
            .col-md-6.text-left
              span.copyright Powered by ARANZADI THOMSON REUTERS
            .col-md-6.text-right
              span.copyright
                | Desarrollado y diseñado por 
                a(href='http://arted.es/', title='Arted, diseño gráfico y desarrollo web') arted.es
    //- jQuery
    script(src='js/dist/jquery.min.js')
    //- Bootstrap Core JavaScript
    script(src='js/dist/bootstrap.min.js')
    //- jQuery animation plugin
    script(src='js/dist/jquery.easing.min.js')
    //- Less JavaScript
    script(src='js/dist/less.min.js')
    //- other javascripts
    script(src='js/dist/otherscripts.js')