//- All (common) METATAGS in head tag
meta(name='author', content='@jalofernandez para LFC Abogados y Economistas')
meta(name='copyright', content='LFC Abogados y Economistas')
meta(name='google-site-verification', content='fX5Wb7zfl3R3xTch_ZuB-WF_3TxhwSRZCzxhmz39hhM')
meta(name='robots', content='index, follow, archive')
meta(name='generator', content='html5, css3, nodejs, yarn, less, pug')
meta(name='google', content='nositelinkssearchbox')
//- Favicon
link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-touch-icon-76x76.png')
link(rel='icon', type='image/png', href='img/favicon/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='img/favicon/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='img/favicon/manifest.json')
link(rel='mask-icon', href='img/favicon/safari-pinned-tab.svg', color='#5bbad5')
link(rel='shortcut icon', href='img/favicon/favicon.ico')
meta(name='msapplication-TileColor', content='#da532c')
//- Browsers Tabs
meta(name='msapplication-config', content='img/favicon/browserconfig.xml')
//- to customize browsers top navbar
meta(name='theme-color', content='#ffffff')
//- SiteMap
link(rel='sitemap', href='sitemap.xml', title='Mapa general del website')
//- Custom CSS with Bootstrap, Animate and Google Fonts
link(href='css/main.css', rel='stylesheet')
//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
//- WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  cript(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
//- Google Analytics track id
script(async='', src='https://www.googletagmanager.com/gtag/js?id=¿?')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '¿?');
