//- jQuery
script(src='js/jquery.min.js')
//- Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
//- jQuery animation plugin
script(src='js/jquery.easing.min.js')
//- Less JavaScript
script(src='js/less.min.js')
//- other javascripts
script(src='js/otherscripts.js')
