//- jQuery
script(src='js/jquery.min.js')
//- Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
//- jQuery animation plugin
script(src='js/jquery.easing.min.js')
//- Less JavaScript
script(src='js/less.min.js')
//- other javascripts
script(src='js/otherscripts.js')
//- To register Service Worker & validate it by console log
script(src='sw.js')
script.
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register('/sw.js').then(function (registration) {
                // Registration was successful :)
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function (err) {
                // Registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
