//- jQuery
script(src='js/dist/jquery.min.js')
//- Bootstrap Core JavaScript
script(src='js/dist/bootstrap.min.js')
//- jQuery animation plugin
script(src='js/dist/jquery.easing.min.js')
//- Less JavaScript
script(src='js/dist/less.min.js')
//- other javascripts
script(src='js/dist/otherscripts.js')