doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Error: LFC Abogados y Economistas
        meta(name='keywords', content='compliance, compliance penal, compliance empresas, compliance pymes, cumplimiento normativo, modelo de compliance penal, modelo de prevención de delitos, responsabilidad penal de las empresas, responsabilidad penal de las personas jurídicas, abogados penalistas, derecho penal económico, derecho penal empresa, delitos económicos, defensa, abogados penalistas en madrid, abogados derecho civil, especialistas en derecho penal, penal internacional, penal económico')
        meta(name='description', content='Página no encontrada en LFC Abogados y Economistas expertos en Compliance penal. Asesoramos en materia jurídico penal preventiva en el ámbito del derecho penal económico.')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body#page-top.index
        //- Navigation
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                //- Brand and toggle get grouped for better mobile display
                .navbar-header.page-scroll
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.page-scroll(href='index.html', alt='Logotipo de LFC, abogados especialistas en compliance')
                        img(src='img/dist/common/lfc_logo.svg', alt='LFC, abogados especialistas en compliance', title='LFC, abogados especialistas en compliance')
                //- Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse.animated.fadeIn
                    ul.nav.navbar-nav.navbar-right
                        li.hidden
                            a(href='#page-top')
                        li
                            a(href='index.html', title='Volver a la página de inicio de LFC Abogados y Economistas')
                                i.fa.fa-home
                                |  LFC
                                span Abogados y Economistas
                //- /.navbar-collapse
            //- /.container-fluid
        //- Header
        header.terms-header
            .container
        //- TERMS 01 :: "Términos legales"
        section#terms-intro.bg-light-gray
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                            | Error
                            span 404
                        h3.section-subheading.text-muted
                            i.fa.fa-warning(aria-hidden='true')
                            |   Página no encontrada.
                .row.more-margin-bottom
                    .col-sm-12
                        p.text-muted.effects.text-center
                            | Parece que la
                            span página que buscas no existe
                            | . Lo sentimos. Podría ser por alguna de estas causas:
                .row.more-margin-bottom.error-tips
                      //- for each loop to load all copies in "locales" json file/s
                      each tips, i in notfound.tips
                        .col-sm-6.col-md-3
                            p.text-muted.effects !{tips}
                .row
                    .col-sm-12
                        p.text-muted.effects.text-center
                            a(href='index.html', title='Volver a la página de inicio de LFC Abogados y Economistas')
                                | Pinche aquí para volver al Inicio
                                i.fa.fa-home
                            | .
        section#contact
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                            span Contacta
                            |  con nosotros
                        h3.col-sm-6.col-sm-offset-4.section-subheading.text-muted
                            a(href='https://goo.gl/maps/wDsUg2E5aV12', target='_blank', rel="noopener noreferrer", title='Ver dirección en Google maps')
                                i.fa.fa-map-marker
                                |  Calle O´Donnell nº16, 28009, Madrid.
                            a(href='tel:915571230', title='Llamar a LFC Abogados y Economistas')
                                i.fa.fa-phone
                                |  915 571 230
                            a(href='mailto:info@lfcabogados.com', title='Escribir email a LFC Abogados y Economistas')
                                i.fa.fa-envelope
                                |  info@lfcabogados.com
        footer
            .main-footer
                .container
                    .row
                        .col-md-4.text-left
                            span.copyright © LFC Abogados y Economistas, S.L. 2017
                        .col-md-4
                            ul.list-inline.social-buttons.hidden
                                li
                                    a(href='#', title='Cuenta de Twitter de LFC, abogados y economistas')
                                        i.fa.fa-twitter
                                li
                                    a(href='#', title='Cuenta de Facebook de LFC, abogados y economistas')
                                        i.fa.fa-facebook
                                li
                                    a(href='#', title='Cuenta de LinkedIn de LFC, abogados y economistas')
                                        i.fa.fa-linkedin
                        .col-md-4.text-right
                            ul.list-inline.quicklinks
                                li
                                    a.anim-hover(href='index.html', title='Volver a la página de inicio de LFC Abogados y Economistas') Sobre LFC Abogados y Economistas.
                        .clearfix
            .sub-footer
                .container
                    .row
                        .col-md-6.text-left
                            span.copyright Powered by ARANZADI THOMSON REUTERS
                        .col-md-6.text-right
                            span.copyright
                                | Desarrollado y diseñado por
                                a(href='http://arted.es/', title='Arted, diseño gráfico y desarrollo web') arted.es
        //- All (common) Scripts
        include includes/scripts
